<div class="page-wrapper__attention attention">
  <div class="attention__inner flex --just-center --align-center">
    <span class="attention__accent --svg__attention-before">
      You are not protected
    </span>
    <span class="attention__data">
      <span class="attention__data-title">Your IP Address: </span>
      <span class="attention__data-value">107.3.176.194</span>
    </span>
    <span class="attention__data">
      <span class="attention__data-title">Your ISP: </span>
      <span class="attention__data-value">Comcast Cable</span>
    </span>
    <a href="#"
       class="attention__link">Learn More ›</a>
    <button class="attention__close --svg__close"
            type="button"
            aria-label="Close attention"></button>
  </div>
</div>
