:root {
  --color__text: #22252E;
  --color__text-l: #323642;
  --color__grey-d: #313642;
  --color__grey: #889099;
  --color__grey-l: #D7D8D9;
  --coloe__grey-el: #F7F7F7;
  --color__accent-2: #FF8D00;
  --color__accent-1: #4CB649;

}